<% include ../partials/header %>
<div class="display: flex; pageTitle">
    <h1 style="margin: 0; padding: 6px"><%= album.name %></h1>
</div>

<div class="container">
    <div class="row">
        <div style="background-color:rgba(2, 43, 88, 0.15); padding-top: 10px" class="col-md-3">
            <p class="lead">Album Ranking</p>
            <div class="list-group">
                <li class="list-group-item">2017</li>
                <li class="list-group-item">2018</li>
                <li class="list-group-item active">2019</li>
            </div>
        </div>
        <div class="col-md-9, text-center">
            <div class="thumbnail imgShow">
                <div class="artist">
                    <h3 style="margin: 0 auto">- <%= album.artist %> -</h3></span>
                </div>
                <img class="img-responsive" style="width:100%;
                height:100%;
                overflow:hidden;
                background-position:center center;
                background-repeat:no-repeat;
                background-size:cover" src="<%= album.image %>">

                <div class="caption-full">
                    <p style="padding: 10px 6px 2px"><strong>About: </strong><%= album.about %></p>
                    <div class="row" style="margin: 0">
                        <a class="btn col-xs-12 col-md-4" style="background-color:rgb(30,82,140,.7); color: white" href="/music">Back to Albums</a> 
                        <span class="col-xs-12 col-md-4" style="text-align: center"><i>Added: <%=album.created%></i></span>
                        <a class="btn col-xs-12 col-md-4" style="background-color:rgb(47,67,150,.3); color: black" href="/music/<%=album._id%>/comments/new">Add a Comment</a>
                    </div>
                </div>
            </div>

            <% album.comments.forEach(comment=>{ %>
                <div class="well row" style="width: 50%; margin: 5px auto"> 
                    <div class="col-xs-12 col-sm-6">
                        <span class=pull-left><strong><%= comment.author%></strong></span>   
                    </div>   
                    <div class="col-sm-6">
                        <span class="pull-right">Date here</span> <br>
                    </div>
                    <div class="col-xs-12">
                        <span class="pull-left"> 
                            <%= comment.text %>
                        </span>
                    </div>
                </div>    
            <% }) %>  
        </div>   
    </div>
</div>  

<div style="float:right">
    <a href="/music/<%= album._id %>/edit">Edit Post</a>
    <form action="/music/<%= album._id %>?_method=DELETE" method="POST">
        <button class="btn">Delete Post</button>
    </form>
</div>


<% include ../partials/footer %>