<% include ../partials/header %>
<div class="display: flex; pageTitle">
    <h1><%= album.name %></h1>
</div>
<div>
    <span class="pull-left"><a class="btn purpleBtn backBtn" href="/music">Back to Albums</a></span>  
    <span class="pull-right" style="margin-right: 15px">
        <% if(currentUser && album.author.id.equals(currentUser._id)){
            console.log(currentUser) %>
            <div style="float:right">
                <a class="btn blueBtn" href="/music/<%= album._id %>/edit">Edit Album</a>
                <form action="/music/<%= album._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-sm btn-danger">Delete Album</button>
                </form>
            </div>
        <% } %>
    </span>
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-10, text-center">
            <div class="thumbnail imgShow">
                <div class="artist">
                    <h3 style="margin: 0 auto">- <%= album.artist %> -</h3></span>
                </div>
                <img class="img-responsive" id="largeAlbum" src="<%= album.image %>">
                <div class="caption-full">
                    <p style="padding: 10px 6px 2px"><strong>About: </strong><%= album.about %></p>
                    <p><em>Submitted By: <%=album.author.username%> on <%=album.created%></em></p>
                    <div class="row" style="margin: 0">
                        <a class="btn blueBtn" href="/music/<%=album._id%>/comments/new">Add a Comment</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10, text-center">
            <% album.comments.forEach(comment=>{ %>
                <div class="well row" style="width: 60%; margin: 5px auto">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <span class=pull-left><strong><%= comment.author.username%></strong></span>   
                        </div>  
                        <div class="col-xs-12 col-sm-6">
                            <span class="pull-right">Date here</span>
                        </div> 
                    </div>
                    <div class="row">
                        <div style="padding: 15px">
                            <span class="pull-left"> <%= comment.text %></span>
                        </div>
                    </div>
                    <% if (currentUser && comment.author.id.equals(currentUser._id)){ %>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-xs-12 col-sm-4">
                                    <form action="/music/<%= album._id%>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                        <button class="btn btn-sm btn-danger whiteText">Delete Comment</button>
                                    </form>
                            </div>
                            <div class="col-xs-12 col-sm-4"></div>
                            <div class="col-xs-12 col-sm-4">
                                    <a class="btn btn-sm blueBtn" href="/music/<%= album._id%>/comments/<%=comment._id %>/edit">Edit Comment</a>
                            </div>
                        </div>                           
                     <% } %>     
                </div>
            <% }) %>  
        </div>
    </div>
            
        </div>  
    </div>
</div>  

<% include ../partials/footer %>